@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: url("/img/ERROR.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.4);
  width: 40rem;
  margin: auto;
  height: 51rem;
  margin-top: -2rem;
}

.signup h1 {
  color: white;
  -webkit-text-stroke: 5px #383d52;
  text-transform: uppercase;
}

.signup h1::before {
  content: attr(data-text);
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: 5px #383d52;
  overflow: hidden;
  animation: textmate 6s linear infinite;
}

@keyframes textmate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.signup .img {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.signup .img h1 {
  font-family: "Bebas+Neue", sans-serif;
  margin-left: -8px;
  font-size: 30px;
  font-weight: bold;
}

.signup .img img {
  width: 10rem;
  height: 10rem;
}

.signup p {
  font-size: 18px;
  font-weight: 700;
}

.signup #login_form {
  display: flex;
  flex-direction: column;
}

.signup #login_form label {
  font-size: 17px;
  margin-bottom: 3px;
  font-weight: 500;
}

.signup #login_form input {
  width: 24rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.signup #login_form input::placeholder {
  font-size: 15px;
}

.signup #login_form select {
  width: 24rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.signup #login_form select option {
  font-size: 15px;
}

.signup #login_form a {
  font-size: 18px;
  color: black;
}

.signup h4 {
  font-size: 20px;
}

.signup .login-link {
  font-size: 20px;
  color: black;
  font-weight: 500;
  margin-top: 0.5rem;
}

.signup .login-link a {
  color: blue;
}

.signup .login-link a:hover {
  color: red;
}

.signup .sign_btn {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  background-color: #003c67;
  color: white;
  display: flex;
  border-radius: 500px;
  font-size: inherit;
  min-block-size: 48px;
  border: none;
  left: 15.2rem;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  padding-block: 8px;
  padding-inline: 32px;
  width: 40%;
}

.signup .sign_btn:hover {
  transform: scale(1.05);
}
